@using SMSProject.Models
@using SMSProject.ServiceModules
@model SMSProject.ViewModels.AdminViewModels.AddTeacherSectionViewModel

@{
    ViewBag.Title = "Assign Section";
    List<SelectListItem> lstClass = new List<SelectListItem>();
    List<SelectListItem> lstSection = new List<SelectListItem>();
    List<SelectListItem> lstSubject = new List<SelectListItem>();
    foreach (var item in Class.GetAllClasses(Cryptography.Decrypt(Request.Cookies.Get("rwxgqlb").Value)))
    {
        lstClass.Add(new SelectListItem
        {
            Value = item.ClassId.ToString(),
            Text = item.Name
        });
    }
}

<h2>Assign Section</h2>
<br />

@using (Html.BeginForm("AddTeacherSection", "Staff", new { id = (int)ViewBag.TeacherId }, FormMethod.Post, new { id = "addTeSec" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal agile_info_shadow">
        <p class="text-info">Choose class, section and subject for the teacher</p>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Class, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Class, lstClass, "Select Class", new { @class = "form-control1", id = "lstClass" })
                @Html.ValidationMessageFor(model => model.Class, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Subject, lstSubject, "Select Subejct", new { @class = "form-control1", id = "lstSubject" })
                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Section, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Section, lstSection, "Select Section", new { @class = "form-control1", id = "lstSection" })
                @Html.ValidationMessageFor(model => model.Section, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="javascript:document.getElementById('addTeSec').submit()" class="btn btn-primary">Assign</a>
            </div>
        </div>
    </div>
}
<br />
<br />
<br />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <!--Script to load sections and subejcts for a class by using AJAX Request-->
    <script type="text/javascript">
        $(function () {
            $("#lstClass").change(function () {
                var classId = $(this).val();
                if ($(this).val() != "") {
                    //AJAX Request to load sections
                    $.ajax({
                        url: '@Url.Action("GetSections","Classes")',
                        type: 'post',
                        data: {
                            id: classId
                        }
                    }).done(function (response) {
                        $("#lstSection").html(response);
                    });
                    //AJAX Request to load subjects
                    $.ajax({
                        url: '@Url.Action("GetSubjects","Classes")',
                        type: 'post',
                        data: {
                            id: classId
                        }
                    }).done(function (response) {
                        $("#lstSubject").html(response);
                    });
                }
                else {
                    $("#lstSection").html("<option value=''>Select Section</option>");
                    $("#lstSubject").html("<option value=''>Select Subject</option>");
                }
            });
        });
    </script>
}
