@model SMSProject.ViewModels.AdminViewModels.AddParentViewModel

@{
    ViewBag.Title = "Edit Parent";
}

<h2>Edit Parent</h2>


@using (Html.BeginForm("EditParent", "Parents", new { id = (int)ViewBag.ParentId }, FormMethod.Post, new { id = "AddPr" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal agile_info_shadow">
        <p class="text-info">Please enter the information about the parent correctly</p>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <h4>Father's Information</h4>
        <div class="form-group">
            @Html.LabelFor(model => model.FatherName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FatherName, new { htmlAttributes = new { @class = "form-control", placeholder = "e.g: Muhammad Ali Ahmad" } })
                @Html.ValidationMessageFor(model => model.FatherName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FCNIC, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FCNIC, new { htmlAttributes = new { @class = "form-control", placeholder = "e.g: XXXXX-XXXXXXX-X" } })
                @Html.ValidationMessageFor(model => model.FCNIC, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.FCountryCode, new { htmlAttributes = new { @class = "form-control", placeholder = "+92" } })
                @Html.ValidationMessageFor(model => model.FCountryCode, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-1">
                @Html.EditorFor(model => model.FCompanyCode, new { htmlAttributes = new { @class = "form-control", placeholder = "321" } })
                @Html.ValidationMessageFor(model => model.FCompanyCode, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.FNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "1234567" } })
                @Html.ValidationMessageFor(model => model.FNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <h4>Mother's Information</h4>
        <div class="form-group">
            @Html.LabelFor(model => model.MotherName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MotherName, new { htmlAttributes = new { @class = "form-control", placeholder = "e.g: Samina Ali" } })
                @Html.ValidationMessageFor(model => model.MotherName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.MCountryCode, new { htmlAttributes = new { @class = "form-control", placeholder = "+92" } })
                @Html.ValidationMessageFor(model => model.MCountryCode, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-1">
                @Html.EditorFor(model => model.MCompanyCode, new { htmlAttributes = new { @class = "form-control", placeholder = "321" } })
                @Html.ValidationMessageFor(model => model.MCompanyCode, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-8">
                @Html.EditorFor(model => model.MNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "1234567" } })
                @Html.ValidationMessageFor(model => model.MNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <h4>Other Information</h4>
        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmergencyContact, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmergencyContact, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmergencyContact, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ElgibilityThreshold, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ElgibilityThreshold, new { htmlAttributes = new { @class = "form-control1" } })
                @Html.ValidationMessageFor(model => model.ElgibilityThreshold, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="javascript:document.getElementById('AddPr').submit()" class="btn btn-primary">Save</a>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
