
@using PagedList
@using PagedList.Mvc
@model IPagedList<SMSProject.ViewModels.AdminViewModels.ViewItemsViewModel>

@{
    ViewBag.Title = "View Items";
    int i = Model.PageSize * (Model.PageNumber - 1);
}
@Html.Partial("_FilterCategory")

<h2>Items</h2>
<div class="agile_map_info">
    <div class="table table-responsive">
        <table class="table">
            <tr>
                <th>#</th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Price)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@(++i)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.ActionLink("View", "ViewItemDetails", new { id = item.Id }, new { @class = "btn btn-danger", target = "_blank" })
                    </td>
                </tr>
            }

        </table>
        <div class="col-md-offset-4 col-md-4">
            @Html.PagedListPager(Model, page => @Url.Action("ViewItems", new { page, searchName = ViewBag.SearchName }), new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded, DisplayEllipsesWhenNotShowingAllPageNumbers = true, DisplayPageCountAndCurrentLocation = true, DisplayLinkToIndividualPages = false, DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded, DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded })
        </div>
    </div>
    <div class="col-md-offset-10 col-md-2 right">
        @Html.ActionLink("Export", "PrintItemList", null, htmlAttributes: new { @class = "btn btn-success" })
    </div>
</div>
<div class="clearfix"></div>
