@model IEnumerable<SMSProject.ViewModels.AdminViewModels.ViewStudentToPromoteViewModel>

@{
    ViewBag.Title = "Students To Promote";
    int i = 0;
}

<h2>Students To Promote</h2>
<br />
<div class="agile_info_shadow">
    <p class="text-info">Select Student(s) to promote/shift.</p>
    <div class="table table-responsive">
        @using (Html.BeginForm("PromoteStudents", "Classes", new { secId = ViewBag.SectionId }, FormMethod.Post, new { id = "proStu" }))
        {
            @Html.AntiForgeryToken()
            <table class="table table-hover">
                <tr>
                    <th>#</th>
                    <th>
                        @Html.DisplayNameFor(model => model.RollNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th><input type="checkbox" id="checkAll" value="" class="checkbox-inline form-control" title="Select All" /></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(++i)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RollNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td><input type="checkbox" value="@item.Id" name="studentId" id="studentId" class="form-control checkbox-inline myCheckBox" /></td>
                    </tr>
                }

                <tr>
                    <td colspan="3"></td>
                    <td align="right" style="width:10em"><div class="col-md-2"><a href="javascript:document.getElementById('proStu').submit()" class="btn btn-danger" id="snd">Promote/Shift</a></div></td>
                </tr>
            </table>
        }
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @if (ViewBag.Error != null)
    {
        if ((bool)ViewBag.Error)
        {
            <script type="text/javascript">
                $(document).ready(alert("No row has been selected"));
            </script>
        }
    }
    @if (ViewBag.Success != null)
    {
        if ((bool)ViewBag.Success)
        {
            <script type="text/javascript">
                $(document).ready(window.alert("The Student(s) has been promoted/shifted successfully."));
            </script>
        }
    }
    <script type="text/javascript">

        $(function () {
            $("#checkAll").change(function () {
                $(".myCheckBox").prop("checked", this.checked);
            });
            $(".myCheckBox").click(function () {
                if ($(".myCheckBox").length == $(".myCheckBox:checked").length) {
                    $("#checkAll").prop("checked", "checked");
                }
                else {
                    $("#checkAll").removeProp("checked");
                }
            });
        });
    </script>
}