@model IEnumerable<SMSProject.ViewModels.AdminViewModels.TeacherSection>
@{
    int i = 0;
}
<div class="table table-responsive">
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@(++i)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Class)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Section)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.ActionLink("Remove", "RemoveAssignedSection", new { tId = item.TeacherId, secId = item.SectionId, subId = item.SubjectId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</div>
