@model IEnumerable<SMSProject.ViewModels.AdminViewModels.TeacherQualification>
@{
    int i = 0;
}
<div class="table table-responsive">
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.Degree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@(++i)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Degree)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.ActionLink("Remove", "RemoveQualification", new { id = item.Id, sId = item.TeacherId }, new { @class = "btn btn-danger", id="remQua" })
                </td>
            </tr>
        }

    </table>
</div>
