@model SMSProject.ViewModels.AdminViewModels.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
    var random = new Random();
}
<!-- /agile_top_w3_grids-->
<div class="agile_top_w3_grids">
    <ul class="ca-menu">
        <li>
            <a href="">

                <i class="fa fa-user" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main">@Model.ParentCount</h4>
                    <h3 class="ca-sub">Parents</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-user" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main one">@Model.StudentCount</h4>
                    <h3 class="ca-sub one">Students</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-user" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main two">@Model.StaffCount</h4>
                    <h3 class="ca-sub two">Staff</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-users" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main three">@Model.StudentPresent</h4>
                    <h3 class="ca-sub three">Students Present</h3>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-users" aria-hidden="true"></i>
                <div class="ca-content">
                    <h4 class="ca-main four">@Model.StaffPresent</h4>
                    <h3 class="ca-sub four">Staff Present</h3>
                </div>
            </a>
        </li>
        <div class="clearfix"></div>
    </ul>
</div>
<!-- //agile_top_w3_grids-->
<!-- /agile_top_w3_post_sections-->
<div class="agile_top_w3_post_sections">
    <div class="col-md-6 agile_top_w3_post agile_info_shadow">
        <div class="img_wthee_post">
            <h3 class="w3_inner_tittle">Latest Report</h3>
            <div class="stats-wrap">
                <div class="count_info"><h4 class="count">Rs. @Model.CollectedDues <span class="fa fa-money"></span></h4><span class="year">Collected Dues This Month</span></div>
                <div class="clearfix"></div>
            </div>
            <div class="stats-wrap">
                <div class="count_info"><h4 class="count">Rs. @Model.RemainingDues <span class="fa fa-money"></span></h4><span class="year">Remaining Dues This Month</span></div>
                <div class="clearfix"></div>
            </div>
            <div class="stats-wrap">
                <div class="count_info"><h4 class="count">@Model.UnpaidParentCount <span class="fa fa-user"></span></h4><span class="year">Parents with Unpaid Dues</span></div>
                <div class="clearfix"></div>
            </div>
            <div class="stats-wrap">
                <div class="count_info"><h4 class="count">Rs. @Model.TotalToday <span class="fa fa-money"></span></h4><span class="year">Amount Collected Today</span></div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
    <div class="col-md-6 agile_top_w3_post_info agile_info_shadow">
        <div class="img_wthee_post1">
            <h3 class="w3_inner_tittle">Logged In Timmer</h3>
            <div class="main-example">
                <div class="clock"></div>
                <div class="message"></div>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<!-- //agile_top_w3_post_sections-->
<!-- /w3ls_agile_circle_progress-->
<div class="w3ls_agile_cylinder chart agile_info_shadow">
    <h3 class="w3_inner_tittle two">Monthly Collections</h3>

    <div id="chartdiv"></div>


</div>
<!-- /w3ls_agile_circle_progress-->
<!-- /chart_agile-->
<!--/prograc-blocks_agileits-->
<div class="prograc-blocks_agileits">


    <div class="col-md-6 bars_agileits agile_info_shadow">
        <h3 class="w3_inner_tittle two">@DateTime.Now.ToString("MMMM"), so far</h3>
        <div class='bar_group'>
            <div class='bar_group__bar thin' label='Students Admit' show_values='true' tooltip='true' value='@Model.SoFar.StudentAdmit'></div>
            <div class='bar_group__bar thin' label='Test Taken' show_values='true' tooltip='true' value='@Model.SoFar.TestTaken'></div>
            <div class='bar_group__bar thin' label='Items Sold' show_values='true' tooltip='true' value='@Model.SoFar.ItemsSold'></div>
            <div class='bar_group__bar thin' label='Notifications Sent' show_values='true' tooltip='true' value='@Model.SoFar.NotificationsSent'></div>
            <div class='bar_group__bar thin' label='Applications Received' show_values='true' tooltip='true' value='@Model.SoFar.ApplicationsReceived'></div>
            <div class='bar_group__bar thin' label='Payments Received' show_values='true' tooltip='true' value='@Model.SoFar.PaymentsReceived'></div>
        </div>
    </div>
    <div class="col-md-6 fallowers_agile agile_info_shadow">
        <h3 class="w3_inner_tittle two">Recent Tests' Results</h3>
        <div class="work-progres">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Class</th>
                            <th>Sec</th>
                            <th>Subject</th>
                            <th>Date</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.RecentTests)
                        {
                            <tr>
                                <td>@item.Class</td>
                                <td>@item.Section</td>
                                <td>@item.Subject</td>
                                <td>@item.HeldDate</td>
                                @if (item.Result >= 80)
                                {
                                    <td><span class="badge badge-success">@item.Result%</span></td>
                                }
                                else if (item.Result >= 70)
                                {
                                    <td><span class="badge badge-info">@item.Result%</span></td>
                                }
                                else if (item.Result >= 50)
                                {
                                    <td><span class="badge badge-warning">@item.Result%</span></td>
                                }
                                else if(item.Result < 50)
                                {
                                    <td><span class="badge badge-danger">@item.Result%</span></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                <a href="@Url.Action("ViewTests")" class="view-more-link" style="float:right">View More >></a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/amcharts")
    <!-- Chart code -->
    <script>
        var chart = AmCharts.makeChart("chartdiv", {
            "theme": "light",
            "type": "serial",
            "startDuration": 2,
            "dataProvider": [
                @foreach (var item in Model.MonthlyCollections)
                {
                    var color = String.Format("#{0:X6}", random.Next(0x1000000));
                    <text>
                        {
                            "country": "@item.MonthName",
                            "visits": @item.Collection ,
                            "color": "@color"
                        },
                    </text>

                }
                ],
            "valueAxes": [{
                "position": "left",
                "axisAlpha": 0,
                "gridAlpha": 0
            }],
            "graphs": [{
                "balloonText": "[[category]]: <b>[[value]]</b>",
                "colorField": "color",
                "fillAlphas": 0.85,
                "lineAlpha": 0.1,
                "type": "column",
                "topRadius": 1,
                "valueField": "visits"
            }],
            "depth3D": 40,
            "angle": 30,
            "chartCursor": {
                "categoryBalloonEnabled": false,
                "cursorAlpha": 0,
                "zoomable": false
            },
            "categoryField": "country",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "gridAlpha": 0

            },
            "export": {
                "enabled": true
            }

        }, 0);
    </script>
    <!-- Chart code -->

    <!-- //amcharts -->
    <!-- //js -->
    <!--/flip clock-->
    <script type="text/javascript">
        var clock;

        $(document).ready(function () {

            clock = $('.clock').FlipClock({
                clockFace: 'HourlyCounter'
            });
        });
    </script>
    <!--//flip clock-->
}
