@model SMSProject.ViewModels.AdminViewModels.SendNotificationViewModel

@{
    ViewBag.Title = "Send Notification";
}

<h2>Send Notification</h2>
<br />

@using (Html.BeginForm("SendNotification", "Admin", FormMethod.Post, new { id = "sndNo" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal agile_info_shadow">
        <p class="text-info">Please write message body only. Do not use dear parent/teacher/student or else etc.</p>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Body, 10, 0, new { htmlAttributes = new { @class = "form-control"} })
                <p class="text-info" id="bodylength"></p>
                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EnumDropDownListFor(model => model.Type, "Select Type", new { @class = "form-control1" })
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EnumDropDownListFor(model => model.Status, "Select Status", new { @class = "form-control1", id = "notiStatus" })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-4">
                <h4>Select Parents</h4>
            </div>
            <div class="col-md-8" style="background-color:white;width:inherit;height:250px; overflow:auto">
                <p class="text-center">Select All Parents</p><input type="checkbox" class="form-control" id="chkAllParents" />
                <ul style="list-style:none" id="parentsDiv"></ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-4">
                <h4>Select Teachers</h4>
            </div>
            <div class="col-md-8" style="background-color:white;width:inherit;height:250px; overflow:auto">
                <p class="text-center">Select All Teachers</p><input type="checkbox" class="form-control" id="chkAllTeachers" />
                <ul style="list-style:none" id="teachersDiv"></ul>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="javascript:document.getElementById('sndNo').submit()" class="btn btn-primary">Send</a>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(document).ready(function () {
                var length =500 - $("#Body").val().length;
                $("#bodylength").html(length);
                $("#Body").on("input",function () {
                    var length =500- $("#Body").val().length;
                    $("#bodylength").html(length);

                });
                var status = $(this).val();
                if (status == 3) {
                    //AJAX Request to load teachers
                    $.ajax({
                        url: '@Url.Action("GetNotificationTeachers")',
                        type: 'post',
                        data: {

                        }
                    }).done(function (response) {
                        $("#teachersDiv").html(response);
                    });
                    //Empty parent list
                    $("#parentsDiv").html("");
                }
                else if (status == 2) {
                    //AJAX Request to load parents
                    $.ajax({
                        url: '@Url.Action("GetNotificationParents")',
                        type: 'post',
                        data: {

                        }
                    }).done(function (response) {
                        $("#parentsDiv").html(response);
                    });
                    //Empty teacher list
                    $("#teachersDiv").html("");
                }
                else if (status == 1) {
                    //AJAX Request to load parents
                    $.ajax({
                        url: '@Url.Action("GetNotificationParents")',
                        type: 'post',
                        data: {

                        }
                    }).done(function (response) {
                        $("#parentsDiv").html(response);
                    });
                    //AJAX Request to load teachers
                    $.ajax({
                        url: '@Url.Action("GetNotificationTeachers")',
                        type: 'post',
                        data: {

                        }
                    }).done(function (response) {
                        $("#teachersDiv").html(response);
                    });
                }
                else {
                    //Empty teacher list
                    $("#teachersDiv").html("");
                    //Empty parent list
                    $("#parentsDiv").html("");
                }
            });
        });
    </script>
    <!--Script to load parents and teachers via AJAX request-->
    <script type="text/javascript">
        $(function () {
            $("#notiStatus").change(function () {
                var status = $(this).val();
                if (status == 3) {
                    //AJAX Request to load teachers
                    $.ajax({
                        url: '@Url.Action("GetNotificationTeachers")',
                        type: 'post',
                        data: {

                        }
                    }).done(function (response) {
                        $("#teachersDiv").html(response);
                    });
                    //Empty parent list
                    $("#parentsDiv").html("");
                }
                else if (status == 2) {
                    //AJAX Request to load parents
                    $.ajax({
                        url: '@Url.Action("GetNotificationParents")',
                        type: 'post',
                        data: {

                        }
                    }).done(function (response) {
                        $("#parentsDiv").html(response);
                    });
                    //Empty teacher list
                    $("#teachersDiv").html("");
                }
                else if (status == 1) {
                    //AJAX Request to load parents
                    $.ajax({
                        url: '@Url.Action("GetNotificationParents")',
                        type: 'post',
                        data: {

                        }
                    }).done(function (response) {
                        $("#parentsDiv").html(response);
                    });
                    //AJAX Request to load teachers
                    $.ajax({
                        url: '@Url.Action("GetNotificationTeachers")',
                        type: 'post',
                        data: {

                        }
                    }).done(function (response) {
                        $("#teachersDiv").html(response);
                    });
                }
                else {
                    //Empty teacher list
                    $("#teachersDiv").html("");
                    //Empty parent list
                    $("#parentsDiv").html("");
                }
            });
        });
    </script>
    @if (ViewBag.Success != null)
    {
        if ((bool)ViewBag.Success)
        {
            <script type="text/javascript">
                $(document).ready(window.alert("Notification(s) has been sent to selected."));
            </script>
        }
    }
    <!--Script to Select All-->
    <script type="text/javascript">

        $(function () {
            $("#chkAllTeachers").change(function () {
                $(".chkTeacher").prop("checked", this.checked);
            });
            $(".chkTeacher").click(function () {
                if ($(".chkTeacher").length == $(".chkTeacher:checked").length) {
                    $("#chkAllTeachers").prop("checked", "checked");
                }
                else {
                    $("#chkAllTeachers").removeProp("checked");
                }
            });
            $("#chkAllParents").change(function () {
                $(".chkParent").prop("checked", this.checked);
            });
            $(".chkParent").click(function () {
                if ($(".chkParent").length == $(".chkParent:checked").length) {
                    $("#chkAllParents").prop("checked", "checked");
                }
                else {
                    $("#chkAllParents").removeProp("checked");
                }
            });
        });
    </script>
}
