@using PagedList
@using PagedList.Mvc
@model IPagedList<SMSProject.ViewModels.AdminViewModels.SetSalariesViewModel>

@{
    ViewBag.Title = "Set Salaries";
    SMSProject.Models.HelperModels.Month month = (SMSProject.Models.HelperModels.Month)ViewBag.Month;
    int i = Model.PageSize * (Model.PageNumber - 1);
}

<h2>Set Salaries for @month.Name, @month.Year</h2>
<br />

<div class="agile_info_shadow">
    <div class="table table-responsive">
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().CNIC)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().JoiningDate)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@(++i)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CNIC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JoiningDate)
                    </td>
                    <td>
                        <div class="form-horizontal col-md-6">
                            @using (Html.BeginForm("SetSalary", "Admin", FormMethod.Post, new { id = item.CNIC }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("id", item.Id)
                                @Html.Hidden("month", ((SMSProject.Models.HelperModels.Month)ViewBag.Month).Number)
                                @Html.Hidden("year", ((SMSProject.Models.HelperModels.Month)ViewBag.Month).Year)
                                <div class="form-group">
                                    <input type="number" name="perAbsent" required placeholder="Enter Per Absent Deduction" class="form-control1" />
                                </div>
                                <div class="form-group">
                                    <a href="javascript:document.getElementById('@item.CNIC').submit()" class="btn btn-danger">Set Salary</a>
                                </div>
                            }
                        </div>
                    </td>
                </tr>
            }

        </table>
        @if (ViewBag.Empty != null)
        {
            if ((bool)ViewBag.Empty)
            {
                <p class="text-danger">No record found.</p>
            }
        }
        <div class="col-md-offset-4 col-md-4">
            @Html.PagedListPager(Model, page => @Url.Action("SetSalaries", new { page, err = (bool)ViewBag.Error, month = month.Number, year = month.Year }), new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded, DisplayEllipsesWhenNotShowingAllPageNumbers = true, DisplayPageCountAndCurrentLocation = true, DisplayLinkToIndividualPages = false, DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded, DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded, })
        </div>
    </div>
</div>


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @if (ViewBag.Error != null)
    {
        if ((bool)ViewBag.Error)
        {
            <script type="text/javascript">
                $(document).ready(window.alert("Record not saved."));
            </script>
        }
    }
    @if (ViewBag.Success != null)
    {
        if ((bool)ViewBag.Success)
        {
            <script type="text/javascript">
                $(document).ready(window.alert("Record has been saved."));
            </script>
        }
    }
}