@model SMSProject.ViewModels.AdminViewModels.ViewParentDetailsViewModel

@{
    ViewBag.Title = "Parent Details";
    int i = 1;
}

<h2>Parent Details</h2>
<br />
<div class="agile_info_shadow">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FCNIC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FCNIC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmergencyContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmergencyContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElgibilityThreshold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElgibilityThreshold)
        </dd>

    </dl>
    <br />
    <p>
        @Html.ActionLink("Edit", "EditParent", new { pId = Model.ParentId }, new { @class = "btn btn-warning" })
    </p>
</div>
<br />
<div class="agile_info_shadow">
    <div class="col-md-4">
        <h4>Students</h4>
    </div>
    <p class="col-md-offset-7 col-md-1">@Html.ActionLink("Add", "AddStudent2", new { pId = Model.ParentId, returnAction = ViewContext.RouteData.Values["Action"].ToString() }, new { @class = "btn btn-primary" })</p>
    <br />
    <div class="table table-responsive">
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>Student Name</th>
                <th>Class</th>
                <th></th>
            </tr>
            @foreach (var item in Model.StudentsList)
        {
        <tr>
            <td>@(i++)</td>
            <td>@item.Name</td>
            <td>@item.Class</td>
            <td>@Html.ActionLink("View", "ViewStudentDetails", new { id = item.StudentId }, new { @class = "btn btn-danger", target="_blank" })</td>
        </tr>
        }
        </table>
    </div>
</div>
@section Scripts {
    @if (ViewBag.Success != null)
    {
        if ((bool)ViewBag.Success)
        {
            <script type="text/javascript">
                $(document).ready(window.alert("Parent Record Saved Successfully !"));
            </script>
        }
    }
}
