@using PagedList
@using PagedList.Mvc
@model IPagedList<SMSProject.ViewModels.AdminViewModels.ViewUnPaidParentsViewModel>

@{
    ViewBag.Title = "Parents with Unpaid Dues";
    int i = 1;
}

<h2>Parents with Unpaid Dues</h2>
<br />
<div class="agile_info_shadow">
    <div class="table table-responsive">
        @using (Html.BeginForm("SendFeeNotification", "Admin", FormMethod.Post, new { id = "unPDue" }))
        {
            @Html.AntiForgeryToken();
            <table class="table table-hover" id="unPTable">
                <thead>

                    <tr>
                        <th>#</th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().FName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().Amount)
                        </th>
                        <th><input type="checkbox" id="checkAll" value="" class="checkbox-inline form-control" title="Select All" /></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(i++)</td>
                            <td>@Html.DisplayFor(modelItem => item.FName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                            <td><input type="checkbox" value="@item.ParentId" name="pId" id="pId" class="form-control checkbox-inline myCheckBox" /></td>
                        </tr>
                    }

                    <tr>
                        <td colspan="3"></td>
                        <td align="right" style="width:10em"><div class="col-md-2"><a href="javascript:document.getElementById('unPDue').submit()" class="btn btn-danger" id="snd">Send Fee Notifcation</a></div></td>
                    </tr>
                </tbody>
            </table>
        }
        @if (ViewBag.Empty != null)
        {
            if ((bool)ViewBag.Empty)
            {
                <p class="text-danger">No record found.</p>
            }
        }
        <div class="col-md-offset-4 col-md-4">
            @Html.PagedListPager(Model, page => @Url.Action("ViewUnPaidParent", new { page, err = (bool)ViewBag.Error }), new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded, DisplayEllipsesWhenNotShowingAllPageNumbers = true, DisplayPageCountAndCurrentLocation = true, DisplayLinkToIndividualPages = false, DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded, DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded, })
        </div>
    </div>
</div>
@section Scripts{
    @*<--!Script to add select all checkboxes!-->*@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @if (ViewBag.Error != null)
    {
        if ((bool)ViewBag.Error)
        {
            <script type="text/javascript">
                $(document).ready(alert("No row has been selected"));
            </script>
        }
    }
    @if (ViewBag.Success != null)
    {
        if ((bool)ViewBag.Success)
        {
            <script type="text/javascript">
                $(document).ready(window.alert("Notification(s) has been sent to the selected parent(s)."));
            </script>
        }
    }
    <script type="text/javascript">

        $(function () {
            $("#checkAll").change(function () {
                $(".myCheckBox").prop("checked", this.checked);
            });
            $(".myCheckBox").click(function () {
                if ($(".myCheckBox").length == $(".myCheckBox:checked").length) {
                    $("#checkAll").prop("checked", "checked");
                }
                else {
                    $("#checkAll").removeProp("checked");
                }
            });
        });
    </script>
}